# Entornos virtuales de Python
venv/
env/
__pycache__/
*.pyc

# Variables de entorno 
.env

# Ignora todo dentro de la carpeta (logs, archivos temporales, etc.)
faiss_index/
alembic.ini
__pycache__

# PERO permite que estos dos tipos de archivos sí se suban
!faiss_index/*.faiss
!faiss_index/*.pkl

# Frontend
node_modules/
dist/